@page "/createadvertiser"
@using Bbh;
<h1>Create Advertiser</h1>

@if (ErrorMsg == "")
{

}
else
{
    <br />
    <span style="color:red;font-weight:bold">@ErrorMsg</span>
    <br />
}


<div>
    Create a new Advertiser (cost: 1000 sats) and pay the invoice
    <form enctype="multipart/form-data" id="advform">
    Name: <input type="text" name="name" placeholder="Name..." /> <br />
    Url: <input type="text" name="url" placeholder="Url..." /><br />
    Image: <input type="file" name="image" /><br />
    <button class="btn btn-primary" onclick="postRequest(); return false">Create Advertiser</button>
    </form>
    <div id="response">

    </div>
    <br />
</div>



@code {
    string AdvertiserName;
    string AdvertiserUrl;

    string ErrorMsg = "";
    string ResponseMsg = "";
    CreateAdvertiserResponse response;

    AdvertiserService.AdvertiserServiceClient _client;
    Channel channel;
    protected override async Task OnInitializedAsync()
    {
        channel = new Channel("127.0.0.1", 8897, ChannelCredentials.Insecure);
        _client = new AdvertiserService.AdvertiserServiceClient(channel);

        StateHasChanged();
    }

    private async void RequestCreateAdvertiser()
    {
        if (AdvertiserName == "")
        {
            ErrorMsg = "Advertiser name must not be blank";
            return;
        }
        response = await _client.CreateAdvertiserAsync(new CreateAdvertiserRequest
        {
            Name = AdvertiserName,
            Url = AdvertiserUrl,
        });
        StateHasChanged();

    }

}